body {
    text-align: center;
    padding: 100px;
    background-color: black;
    font: 20px Helvetica, sans-serif;
    color: #fff;
}
h1 {
      font-size: 50px;
}
article {
      display: block;
      text-align: left;
      width: 650px;
      margin: 0 auto;
}
@media screen and (max-width: 40.5em) {
    body {
        width: auto;
        padding: 20px;
        font: 15px Helvetica, sans-serif;
    }
    article {
      display: block;
      text-align: left;
      width: auto;
      margin: 0 auto;
    }
    h1 {
      font-size: 20px;
}
}